/src/decision_tree/confusion_matrix.jpeg
/src/decision_tree/tree
/src/decision_tree/tree.pdf
/.idea/.gitignore
/.idea/git_toolbox_prj.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workshop.iml
/src/linear_regression/plots/*